// colors
$blue: #05386b !default;
$sky-blue: #48b5d6 !default;
$light-blue: #0077c8 !default;
$red: #9e3226 !default;
$light-red: #e82535 !default;
$green: #14a76c !default;
$light-green: #12b35f !default;
$dark-green: #108a4b !default;
$warm-black: #272727 !default;

// Browser Context Sizing for consistent unit/measurement
$browser-context: 10px !default;
$base-line-height: 1.5 !default;
$base-letter-spacing: 0 !default;
